
/* switching off the visual headers.  */
div.headerDivOuter {
	display:none;
}

/* switch on the readerCaptionRow in the dataTable itself.*/
tr.readerCaptionRow {
	overflow:visible;
	height:auto;
}
tr.readerCaptionRow th input {
	display:block;
}
/* switch off the scrolling on the dataTable */
.scrollingDiv {
	overflow:visible;
}
/* undo all the css which was minimizing the appearance of the readerCaptionRow. */
tr.readerCaptionRow th,
tr.readerCaptionRow th.sortedDescending,
tr.readerCaptionRow th.sortedAscending,
tr.readerCaptionRow th.sortedDescending div,
tr.readerCaptionRow th.sortedAscending div,
tr.readerCaptionRow th input {
	padding:0px 5px;
	margin:0px;
	border:0px;
	visibility:visible;
	font-size:11px;
	overflow:visible;
	height:auto;
	background-color:#968F89;
	color:#fff;
	color:#fff;
	text-align:left;
}
/* Still some problems with scrollableTable printing on mozilla.   */
table.scrollingTable {
	margin-bottom:50px;
	height:auto;
}